[package]
name = "tower-http"
version = "0.1.0"
authors = ["Carl Lerche <me@carllerche.com>"]
license = "MIT"
edition = "2018"

[dependencies]
http-body = { version = "0.1.0", path = "../http-body" }
tower-http-util = { version = "0.1.0", path = "../tower-http-util" }
