[package]
name = "tower-http"
description = "Tower middlewares and utilities for HTTP clients and servers"
version = "0.1.0"
authors = ["Tower Maintainers <team@tower-rs.com>"]
edition = "2018"
license = "MIT"
readme = "README.md"
repository = "https://github.com/tower-rs/tower-http"
homepage = "https://github.com/tower-rs/tower-http"
documentation = "https://docs.rs/tower-http/0.1.0/tower_http/"
categories = ["asynchronous", "network-programming", "web-programming"]
keywords = ["io", "async", "non-blocking", "futures", "service", "http"]

[dependencies]
futures-core = "0.3"
futures-util = { version = "0.3", default_features = false, features = [] }
http = "0.2"
http-body = "0.4"
pin-project = "1"
tower-layer = "0.3"
tower-service = "0.3"

# optional dependencies
async-compression = { version = "0.3", optional = true, features = ["tokio"] }
bytes = { version = "1", optional = true }
hyper = { version = "0.14", optional = true, default_features = false, features = ["stream"] }
iri-string = { version = "0.3", optional = true }
tokio = { version = "1", optional = true, default_features = false }
tokio-util = { version = "0.6", optional = true, default_features = false, features = ["io"] }
tower = { version = "0.4.1", optional = true }

[dev-dependencies]
bytes = "1"
flate2 = "1.0"
futures = "0.3"
hyper = { version = "0.14", features = ["full"] }
tokio = { version = "1", features = ["full"] }
tower = { version = "0.4.6", features = ["buffer", "util", "retry", "make"] }

[features]
default = []
full = [
    "add-extension",
    "compression",
    "compression-full",
    "decompression-full",
    "follow-redirect",
    "map-request-body",
    "map-response-body",
    "propagate-header",
    "redirect",
    "routing",
    "sensitive-header",
    "set-header",
]

add-extension = []
follow-redirect = ["iri-string", "tower/util"]
map-request-body = []
map-response-body = []
propagate-header = []
redirect = []
routing = []
sensitive-header = []
set-header = []

compression = ["bytes", "tokio-util", "tokio"]
compression-br = ["async-compression/brotli", "compression"]
compression-deflate = ["async-compression/zlib", "compression"]
compression-full = ["compression-br", "compression-deflate", "compression-gzip"]
compression-gzip = ["async-compression/gzip", "compression"]

decompression = ["bytes", "tokio-util", "tokio"]
decompression-br = ["async-compression/brotli", "decompression"]
decompression-deflate = ["async-compression/zlib", "decompression"]
decompression-full = ["decompression-br", "decompression-deflate", "decompression-gzip"]
decompression-gzip = ["async-compression/gzip", "decompression"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[package.metadata.playground]
features = ["full"]
