[graph]
exclude-dev = true
exclude-unpublished = true

[advisories]
unmaintained = "none"
ignore = []

[licenses]
allow = [
   "MIT",
   "Apache-2.0",
   "BSD-3-Clause",
]
confidence-threshold = 0.8
exceptions = [
]

[bans]
multiple-versions = "warn"
highlight = "all"

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-git = []
