name: CI

on:
  push:
    branches:
    - main
  pull_request: {}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@stable
    - run: cargo check --workspace --all-features --all-targets

  check-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@nightly
    - name: cargo doc
      working-directory: ${{ matrix.subcrate }}
      env:
        RUSTDOCFLAGS: "-D rustdoc::broken_intra_doc_links --cfg docsrs"
      run: cargo doc --all-features --no-deps

  cargo-hack:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@stable
    - uses: taiki-e/install-action@cargo-hack
    - name: cargo hack check
      working-directory: ${{ matrix.subcrate }}
      env:
        RUSTFLAGS: "-D unused_imports -D dead_code -D unused_variables"
      run: cargo hack check --each-feature --no-dev-deps --workspace

  test-versions:
    # Test against the stable, beta, and nightly Rust toolchains on ubuntu-latest.
    needs: check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable, beta, nightly]
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}
    - run: cargo test --workspace --all-features

  test-msrv:
    needs: check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Remove the example crates to exclude effects to dependencies from them
      run: rm -r ./examples/* && cargo new --lib --edition 2021 examples/dummy
    - name: Resolve MSRV aware dependencies
      run: cargo update
      env:
        CARGO_RESOLVER_INCOMPATIBLE_RUST_VERSIONS: fallback
    - uses: dtolnay/rust-toolchain@1.64
    - run: cargo check -p tower-http --all-features

  style:
    needs: check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt
    - run: cargo fmt --all --check

  deny-check:
    name: cargo-deny check
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.checks == 'advisories' }}
    strategy:
      matrix:
        checks:
        - advisories
        - bans licenses sources
    steps:
    - uses: actions/checkout@v6
    - uses: EmbarkStudios/cargo-deny-action@v2
      with:
        manifest-path: tower-http/Cargo.toml
        command: check ${{ matrix.checks }}

  external-types:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: nightly-2025-08-06
    - name: Install cargo-check-external-types
      uses: taiki-e/cache-cargo-install-action@v2
      with:
        tool: cargo-check-external-types@0.3.0
    - uses: Swatinem/rust-cache@v2
    - run: cargo check-external-types --all-features
      working-directory: tower-http
